*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    
    /* var(--grigio) */
    --grigio: #646464;

    /* var(--h-barra-t) height barra top*/
    --h-barra-t: 80px;    




    /* barra left//////////////////////////// */
    /* var(--w-barra-l) width barra left*/
    --w-barra-l: 200px;
    /* var(--h-barra-l) */
    --h-barra-l: calc(100vh - var(--h-barra-b) );
    /* var(--padd-barra-l)*/
    --padd-barra-l: 20px;
    /* var(--h-menu) */
    --h-menu: 180px;    
    /* var(--h-h4) */
    --h-h4: 30px;
    /* var(--h-add-play) */
    --h-add-play: 30px;
    /* var(--h-marg-bott-add) */
    --h-marg-bott-add: 10px;
    /* var(--marg-bott-playlists) */
    --marg-bott-playlists: 10px;
    /* var(--h-playlists) */
    --h-playlists: calc(var(--h-barra-l) - var(--h-menu) - var(--padd-barra-l) - var(--h-h4) - var(--h-inf) - var(--marg-bott-playlists) - var(--h-add-play) - var(--h-marg-bott-add))
    ;
    /* var(--h-inf) */
    --h-inf: 60px;
    



    /* var(--h-barra-b) height barra bottom*/
    --h-barra-b: 80px;   

    /* var(--w-main) */
    --w-main: calc(100vw - var(--w-barra-l));
    /* var(--padd-main) */
    --padd-main: 20px;

    /* var(--w-section) */
    --w-section: calc( var(--w-main) - 2 * var(--padd-main));

    /* var(--n-cards)  numero di cards su una linea*/
    --n-cards: 6;
    /* var(--w-card) width card*/
    --w-card: calc((var(--w-section) / var(--n-cards)) - var(--marg-right-card));
    /* --w-card: calc((var(--w-section)  - (var(--marg-right-card) * (var(--n-cards) ))) / var(--n-cards)); */
    
    /* var(--marg-right-card) */
    --marg-right-card: calc(var(--w-section) * 0.02);
    /* var(--max-w-card) max width card */
    --max-w-card: 150px;

    
}



a{
    text-decoration: none;
    color: var(--grigio);
    
}

a:hover {
    color: white;
}

h3{
    color: white;
    font-weight: 700;
}

h4{
    color: white;
    font-size: 13px;
    font-weight: 600;

    
    /* DEBUG */
    /* background-color: rgb(0, 238, 255); */
    
}

.nome{
    
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: white;







    /* DEBUG */
    /* background-color: rgb(115, 0, 255); */
    /* border: 2px solid black; */
}

.subtitle{
    
   
    color: var(--grigio);
    font-size: 12px;

    
    /* DEBUG */
    /* background-color: rgb(91, 83, 22); */
}




/* #barra-top //////////////////////////////////////////////////////////////// */
#barra-top{
    position: fixed;
    top: 0;
    right:0;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    height: var(--h-barra-t);
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

}

#spazio-upgrade{
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;


    /* background-color: antiquewhite; */
}


:root{    
    /* var(--h-upgrade) */
    --h-upgrade: 35px;
    /* var(--w-upgrade) */
    --w-upgrade: 170px;
}
#upgrade{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--w-upgrade);
    height: var(--h-upgrade);
    border-radius: calc(var(--h-upgrade) / 2);
    color: white;
    font-size: 10px;
    border: 1px solid white;
}
#upgrade:hover{
    width: calc(var(--w-upgrade) + 10px);
    height: calc(var(--h-upgrade) + 5px);
    border-radius: calc(((var(--h-upgrade) + 10px)) / 2);
    
    font-size: 11px;
}


/* #barra-left //////////////////////////////////////////////////////////////// */
#barra-left{
    position: fixed;
    top: 0;
    left:0;
    padding: var(--padd-barra-l) var(--padd-barra-l) 0;
    

    height: var(--h-barra-l);
    width: var(--w-barra-l);
    
    background-color: black;
    z-index: 200;

}


.menu{
    height: var(--h-menu);
    /* padding-bottom: 20px; */
    /* DEBUG */
    /* background-color: blue; */
    
}


.menu a{
    display:flex;
    margin-bottom: 15px;

    /* DEBUG */
    /* background-color: blue; */
}


#logo{
    
    margin-bottom: 20px;
}
#logo.big{
    width: 130px;
    

}



.small{
    display: none;
}


.menu i{
    margin-right: 10px;
}


/* 
#cont-play{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 50%;

    background-color: cadetblue;
} */

#barra-left h4{
    line-height: var(--h-h4);
    width: 100%;
}

#add{
    line-height: var(--h-add-play);
    display: flex;
    align-items: center;
    margin-bottom: var(--h-marg-bott-add);
}


#add a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#plus{
    height: var(--h-add-play);
    width: var(--h-add-play);
    margin-right: 10px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    
    color: black;
}



#add:hover #plus{
    background-color: white;
}

#playlists {
    height: var(--h-playlists);
    /* display: flex; */
    /* height: 200px; */
    width: 100%;
    overflow: scroll;
    /* flex-grow: 1; */
    margin-bottom: var(--marg-bott-playlists);
    

    
    /* DEBUG */
    /* background-color: rgb(247, 0, 255); */
    
}

#playlists a{
    display:flex;
    
    margin: 20px 0;
    font-size: 12px;
    font-weight: 500;
    
}


#inf{
    height: var(--h-inf);
    

    /* DEBUG */
    /* background-color: darkmagenta; */
    /* border: 1px solid green; */
}

#download{
    width: 100%;
    height: 40%;
    font-size: 12px;
    
    
    border-bottom: 1px solid var(--grigio);
}



#download i{
    font-size: 10px;
    margin-right: 5px;
}

#user{
    
    height: 60%;
    display: flex;
    align-items: center;
}

#user img{
    width: 25px;
    height: calc( (4 / 5) * 25px);
    border-radius: 50%;
    margin-right: 5px;
    background-color: grey;
}

#user h4{
    font-size: 15px;
}


/* #barra-bottom //////////////////////////////////////////////////////////////// */
#barra-bottom{
    position: fixed;
    bottom: 0;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

    height: var(--h-barra-b);
    width: 100%;
    
    background-color: #282828;
    z-index: 200;

}


.bb{
    
    display: flex;
    align-items: center;

    /* debug */
    /* height: 20px; */
    /* width: 100px; */
    /* background-color: rgb(198, 228, 228); */
}

#img-player{
    height: calc(var(--h-barra-b) * 0.6);
    width: calc(var(--h-barra-b) * 0.6);

    margin-right: 10px;
}
#song-stuff {
    display: flex;
    flex-flow: column;
    justify-content: center;

    /* debug */
    /* height: 20px; */
    /* width: 100px; */
    margin-right: 35px
    /* background-color: rgb(151, 22, 118); */
}
#barra-bottom .nome{
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    /* debug */
    /* height: 20px; */
    /* width: 100px; */
    /* background-color: rgb(29, 41, 103); */
}
#barra-bottom .subtitle{
    font-size: 9px;
    display: flex;
    justify-content: flex-start;
    /* debug */
    /* height: 20px; */
    /* width: 100px; */
    /* background-color: rgb(64, 118, 17); */
}

#barra-bottom .subtitle:hover{
    text-decoration: underline;
    color: white;
}


#barra-bottom a{
    margin-right: 15px;
    font-size: 15px;
    
}


.linea{
    height: 4px;
    border-radius: 2px;

    
    /* var(--grigio); */
}

.cento{
    width: 100px;
    background-color: var(--grigio) ;
    
}

.venti{
    width: 20px;
    background-color: white;
    
}



/* MAIN //////////////////////////////////////////////////////////////// */
main{
    width: var(--w-main);
    margin-left: var(--w-barra-l);
    padding: calc(var(--h-barra-t) +  var(--padd-main)) var(--padd-main) var(--padd-main);
    background-color: #141922;


    /* DEBUG */

    
}

.navigazione {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 20px;


    

}
.navigazione a{
    
    margin: 0 15px;
    line-height: 30px;
    
    font-size: 10px;    
    /* DEBUG */
    /* background-color: blue; */

}


section{

    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    
    
    
}

.card{
    width:  var(--w-card);
    /* height: 200px; */
    max-width: var(--max-w-card);
    margin-right: var(--marg-right-card);
    margin-bottom: 50px;
    /* DEBUG */
    background-color: rgb(17, 255, 0);
    /* border: 2px solid black; */

}

.card:last-child{
    margin-right: 0;
}

.immagine{

    height:  var(--w-card);
    width:  var(--w-card);
    
    
    
    
    max-width: var(--max-w-card);
    max-height: var(--max-w-card);
    
    

    
    /* DEBUG */
    background-color: rgb(255, 0, 81);
    /* border: 2px solid black; */
}

.play{
    height:  var(--w-card);
    width:  var(--w-card);
    display: none;
    max-width: var(--max-w-card);
    max-height: var(--max-w-card);

    background-color: rgba(0, 0, 0, 0.5);

}

.circle{
    border: 5px solid white;
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    
    /* DEBUG */
    /* background-color: rgb(110, 65, 200); */
    /* border: 2px solid black; */
}
.circle i{
    color: white;
    font-size: 20px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    /* DEBUG */
    /* background-color: rgb(0, 255, 119); */
    /* border: 2px solid black; */
}

.card:hover .play{
    display: flex;
    align-items: center;
    justify-content: center;
    

}



.card .nome{
    margin: 10px 0;
}
.card .subtitle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 5px 0;

    
    
}










/************************************************
    SOLUZIONE RESPONSIVE
************************************************/



@media screen and (max-width: 768px){
    :root{        
    /* var(--n-cards) */
    --n-cards: 4;
    }

    
    section{

        margin: 20px 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        
    }

        
}


@media screen and (max-width: 480px){
    :root{
             
    /* var(--n-cards) */
    --n-cards: 2;
    }
    
    
    .navigazione a{
        
        margin: 0 5px;       

    }
    
}


@media screen and (max-width: 400px){
    :root{
    /* var(--w-barra-l) width barra left*/
    --w-barra-l: 40px;        
    /* var(--n-cards) */
    /* --n-cards: 2; */
    }
    
    #barra-left{
        display: flex;
        flex-flow: column;
        align-items: center;
        


    }
    
    
    
    .menu a{
        display: flex;
        justify-content: center;
    }

    #add{
        display: none;
    }

    .big{
        display: none;
        
    }
    .small{
        display: block;
        width: calc( 0.6 * var(--w-barra-l));
    }

    #barra-left i{
        margin-right: 0;
    }

    #user{
        height: 24px;
    }
    
    
 }