*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    
    /* var(--grigio) */
    --grigio: #b6b6b7;
    /* var(--h-barra-t) */
    --h-barra-t: 70px;
    /* var(--w-barra-l) width barra left*/
    --w-barra-l: 100px;
    /* var(--w-main) */
    --w-main: calc(100vw - var(--w-barra-l));
    /* var(--padd-main) */
    --padd-main: 20px;
    /* var(--w-section) */
    --w-section: calc( var(--w-main) - 2 * var(--padd-main));
    /* var(--n-cards)  numero di cards su una linea*/
    --n-cards: 6;
    /* var(--marg-right-card) */
    --marg-right-card: 10px;
    /* var(--w-card) */
    --w-card: calc((var(--w-section)  - (var(--marg-right-card) * var(--n-cards))) / var(--n-cards));

    
}


li{
    list-style: none; 
    
}
a{
    text-decoration: none;
    
}

h3{
    color: white;
    font-weight: 700;
}


.subtitle{
    
   
    color: var(--grigio);
    margin-top: 5px;

    
    /* DEBUG */
    background-color: rgb(91, 83, 22);
}
/* MAIN //////////////////////////////////////////////////////////////// */
main{

    margin-top: var(--h-barra-t);
    width: var(--w-main);
    margin-left: var(--w-barra-l);
    padding: var(--padd-main);
    background-color: #141922;


    /* DEBUG */

    
}

.navigazione {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;


    

}
.navigazione a{
    
    margin: 0 10px;
    font-size: 10px;    
    color: var(--grigio);
    /* DEBUG */
    /* background-color: blue; */

}


section{

    margin: 20px 0;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    
    /* flex-wrap: wrap; */
    
    /* DEBUG */
    background-color: rgb(0, 238, 255);
    /* border: 2px solid black; */
}

.card{
    width:  var(--w-card);
    margin-right: var(--marg-right-card);
    margin-bottom: 20px;
    /* DEBUG */
    background-color: rgb(17, 255, 0);
    /* border: 2px solid black; */

}

.immagine{

    height:  var(--w-card);
    width:  var(--w-card);
    
    
    min-width: 70px;
    min-height: 70px;
    

    
    /* DEBUG */
    background-color: rgb(255, 0, 81);
    /* border: 2px solid black; */
}



.nome{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;







    /* DEBUG */
    background-color: rgb(115, 0, 255);
    /* border: 2px solid black; */
}

.card .subtitle{
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}










/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/



 @media screen and (max-width: 768px){
    :root{        
    /* var(--n-cards) */
    --n-cards: 4;
    }

    
 }


 @media screen and (max-width: 480px){
    :root{
    /* var(--w-barra-l) width barra left*/
    --w-barra-l: 10px;        
    /* var(--n-cards) */
    --n-cards: 2;
    }
    
 }